/* header*/
header{
 background-color: #ededed;
}


.wrap_header{

 .slogan{
  width: 33.333%;
  float: left;
  text-align: left;
  font-family: 'OpenSans';
  font-size: 16px;
  font-weight: 300;
  color: #000000;
  padding-top: 32px;
 }

 .logo{
  width: 33.333%;
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 4px;
 }
 .wrap_min-top-menu{
  width: 33.333%;
  text-align: right;
  float: right;
  padding-top: 31px;
  a{
   display: inline-block;
   margin-left: 25px;
  }
 }

}
.wrapper-nav{
 background-color: #959595;
 max-width: 1368px;
 padding-right: 15px;
 padding-left: 15px;
 margin-right: auto;
 margin-left: auto;
}
nav{
 background-color: #e6e6e8;
 position: relative;
 &:before{
  content: '';
  height: 1px;
  background: #fff;
  position: absolute;
  bottom: -4px;
  width: 100%;
  left: 0;
 }
 .wrap_nav{
  position: relative;
  padding-top: 15px;
  padding-bottom: 11px;
  .to-home{
   position: absolute;
   background: url("../img/icon-home.png");
   height: 17px;
   width: 21px;
   top: 13px;
   left: 0;
  }
  ul{
   list-style: none;
   margin-top: 0;
   margin-bottom: 0;
   padding-left: 0;
   float: right;
   li{
    display: inline-block;
    position: relative;
    a{
     color: #ffffff;
     font-family: 'OpenSans';
     font-size: 16px;
     font-weight: 400;
     text-transform: uppercase;
     text-decoration: none;
     &:hover{
      color: #000;
     }
    }
    &:not(:last-child) a{
     padding: 15px 25px 11px 25px;
    }
    &:last-child a{
     padding: 15px 0px 11px 25px;
    }
   }
  }
 }
}

.active a:before{
 content: '';
 height: 4px;
 background: #55d4cb;
 position: absolute;
 bottom: -15px;
 width: 50%;
 left: 25%;
}

/*end header*/