@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
$nav_color:#fff;
$naw_font_size: 18px;
$nav_allotment:#50BDF3;

body{
	font-family: 'OpenSans';
	a:hover{
		font-weight: bold;
	}
}

header{
	&.m_header{
		box-shadow: none;
		background-color: transparent;
	 }
    nav{
      
    }
    .m_header_wrap {
    	max-width: 1368px;
	    margin-left: auto;
	    margin-right: auto;
	    .m_menu-parrent{
	    	position: relative;
	    	z-index: 30;
	    	.m_nav{
	    		position: absolute;
		    	background-color: #00070C;
		    	padding: 30px 4%;
		    	width: 100%;
		    	min-height: 700px;
		    	display: none;
		    	h3{
		    		font-size: 22px;
		    		font-weight: 300;
		    		padding: 15px 10px 15px 0;
		    	}
		    	a{
		    		color: #fff;
		    	}
		    	li {
		    		padding: 10px;
		    		font-size: 16px;
		    		&.m_have_more:before {
		    			content: '\3e';
		    			color: #fff;
		    			margin-left: -14px;
		    			margin-right: 4px;
		    		}
		    	}
		    	&:before{
		    		content:'';
		    		display: none;
		    	}
		    	.m_menu-toggle_active_holder{
		    		padding-bottom: 30px;
		    		text-align: left;
		    		border-bottom: 1px solid #4C4C4C;
		    		.m_menu-toggle_active{
		    			float: left;
		    			cursor: pointer;
			    		span{
			    			color: #fff;
			    			font-size: 18px;
			    			vertical-align: middle;
			    		}
			    		img{
		    				margin-left: 0;
		    				margin-right: 20px;
		    				display: inline-block;
		    				vertical-align: middle;
			    		}	
		    		}
		    		.m_close_menu{
		    			float: right;
		    			cursor: pointer;
		    		}
		    	}
		    	.m_menu-wrap{
		    		padding: 35px 0px 15px 0px;
		    		.m_serv_about{
		    			float: left;
		    			width: 35%;
		    			ul{
		    				float: right;
		    				width: 50%;
		    			}
		    			#m_serv.m_give_me_before:before, #m_about.m_give_me_before:before{
					        content: '\3e';
					        color: #fff;
					        margin-left: -14px;
					        margin-right: 4px;
					    }
					    #m_serv.m_give_me_before_down:before, #m_about.m_give_me_before_down:before{
					        content: '\2228';
					        color: #fff;
					        margin-left: -14px;
					        margin-right: 4px;
					    }
		    		}
		    		.m_stock_prices{
		    			float: left;
		    			width: 44%;
		    			.m_stock_q{
		    				float: left;
		    				width: 50%;
		    				.m_stock a{
			    				color: #50BDF3;
			    				font-weight: bold;
			    				&:hover{
			    					text-decoration: underline;
			    				}
			    			}
			    			ul.m_q{}
		    			}
		    			.m_prices{
		    				float: left;
		    				width: 50%;
		    			}
		    			
		    		}
		    		.m_main_stock{
		    			float: left;
		    			width: 21%;
		    			img{
		    				padding: 15px 0;
		    			}
		    			p {
		    				color: #fff;
		    				padding: 10px;
		    			}
		    			a{
	    					color: #50BDF3;
		    				font-weight: bold;
		    				&:hover{
		    					text-decoration: underline;
		    				}
		    			}
		    		}
		    	}
		    }
	    }
    	.layer {
    		background-color: #A5E1FF;
	    	background-position: right;
	    	background-repeat: no-repeat;
	    	background-size:cover;
	    	background-image: url('../img/bg-main-header.png');
	    	min-height: 590px;
	    	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
	    	.m_navigation_wrap{
	    		.m_navigation {
		    		.left_menu {
		    			font-size: 0;
		    			float: left;
		    			width: 50%;
		    			min-height: 63px;
		    			padding-left: 4%;
		    			background-color: #00070C;
		    			li {
		    				font-size: $naw_font_size;
		    				display: inline-block;
		    				vertical-align: middle;
		    				padding-right: 9%;
		    				&:last-child{
		    					padding:0;
		    				}
		    				&.m_menu-toggle{
		    					cursor: pointer;
		    				}
		    				a {
		    					color: $nav_color;
		    				}
		   			}
		    		}
		    		.small_triangle_wrap {
		    			float: right;
		    			width: 50px;
		    			height: 60px;
		    			position: relative;
		    			overflow: hidden;
		    			.small_triangle{
		    				position: absolute;
		    				height: 100px;
							width: 40px;
							left: 25px;
							bottom: 0;
							background-color: #00070C;
							transform: rotate(-30deg);
		    			}
		    		}
		    		.contacts {
		    			float: right;
		    			background-color: #00070C;
		    			padding: 15px 4% 5px 20px;		    					    			
		    			li {
		    				font-size: $naw_font_size;
		    				display: table-cell;
		    				vertical-align: middle;
		    				padding-bottom: 20px;
		    				padding-left: 40px;    				
		    				a {
		    					color: $nav_color;
		    				}
		   			}
		    			li:first-child{
		    				padding-left:0;
		    			}

		    		}
		    		
		    	}
		    	.m_slider {
	    			float: left;
	    			width: 50%;
	    			padding-left: 4%;
	    			background-color: #00070C;
	    			padding-top: 80px;
	    			&.owl-carousel{
	    				z-index: 20;
	    			}
	    			.owl-dots{
	    				position: absolute;
	    				bottom:-80px;
	    				.owl-dot{
	    					background-color: #fff;
	    					width: 9px;
	    					height: 9px;
	    					display: inline-block;
	    					margin-right: 12px;
	    					vertical-align:middle;
	    					&.active{
	    						background-color: #6BCDFC;
	    						width: 12px;
	    						height: 12px;
	    					}
	    				}
	    			}
	    			h2 {
	    				color: $nav_color;
	    				font-weight: 300;
	    				.blue {
	    				color: $nav_allotment;
		    			}
	    			}
	    			p {
	    				padding: 30px 0;
	    				color: $nav_color;
	    				.blue {
	    				color: $nav_allotment;
		    			}
	    			}
	    			button {
	    				margin-top: 5px;
	    				margin-bottom: 40px;
	    				background-color: transparent;
	    				color: $nav_color;
	    				padding:25px;
	    				cursor: pointer;
	    				&:hover{
	    					background-color: $nav_allotment;
	    					font-weight: bold;
	    				}
	    			}
	    		}
	    		.triangle_wrap{
	    			position: relative;
	    			.triangle_holder{
		    			position: absolute;
		    			width: 50%;
		    			overflow: hidden;
		    			min-height: 300px;
		    			.triangle_layer{
		    				position: absolute;
		    				z-index: 10;
		    				top: -268px;
		    				left: -72px;
			    			background-color: #00070C;
			    			width: 786px;
			    			height: 560px;			    			
			    			transform: rotate3d(-7, 3, -1, 233deg);
			    		}
		    		}
	    		}
	    	}
    	}
    	.header_bottom_nav{
    		background-color: #EDEDED;
    		padding-right: 4%;
    		&:before{
    			content: '';
    			display: none;	
    		}
    		ul {
    			float: right;
    			width: 75%;
    			padding: 20px 0;
    		}
    		ul li {
    			float: right;
    			padding:10px 0 10px 8%;
    			font-size: 22px;

    		}
    		@include clearfix;
    	}
    }
}
/**********************************************************************************
* content
*/
$main_color: #000;

main{
	.main {
		background-color: #EDEDED;
		max-width: 1368px;
	    margin-left: auto;
	    margin-right: auto; 
		.m_article_left{
			float: left;
			width: 50%;
			padding: 45px 0 45px 4%;
				h2 {
					padding: 10px 0;
					font-size: 40px;
					font-weight: 300;
					color: $main_color;
				}
				p {
					padding: 10px 0;
					font-size: 18px;
					color: $main_color;
				}
				img {
					width: 100%;
				}
				.m_reed_more{
					font-weight:bold;
					color: $main_color;
					cursor: pointer;
					&:hover{
						color: $nav_allotment;
					}
				}
				.m_reed_me{
					display: none
				}
				#m_reed_less{
					float: right;
					.rotate_me_top{
						display:inline-block;
						transform: rotate(90deg);
						vertical-align: middle;
					}
				}
			}
			.m_article_right{
				@extend .m_article_left;
				padding-right: 4%;
				.gutter {
					padding-left:8%;
				}
			}
		
		.clearfix {
			@include clearfix;	
		}
	}  	 
}
.m_mobile_content{
	background-color: #EDEDED;
	font-size: 21px;
	display: none;
	ul {
		list-style-type: none;
		padding: 5px 5px 0px 10px;
		margin: 0;
		li {
			padding-bottom: 5px;
			color: #000;
		}
	}
}
.m_slogan {
	background-image: url('../img/smile-with-us.png');
	background-position: center;
	min-height: 340px;
	position: relative;
	h1{
		width: 100%;
		text-align: center;
		@include centerMe;
		font-size: 70px;
		color: $nav_allotment;
		font-weight: 300;
		text-shadow: 2px 2px 1px #BC92A7, -2px -2px 1px #BC92A7;
	}
}
.m_specialist_wrap{
	background-color: #EDEDED;
	padding: 50px 4.5%;
	overflow: hidden;
	h2{
		padding: 20px 0;
		font-size: 40px;
		font-weight: 300;
		color: $main_color;

	}
	.m_specialist_hold{
		margin: 0 -35px;
		#spec_control{
			width: 100%;
			cursor: pointer;
		}
	}
}
.owl-carousel > .m_single_specialist{//noJS
	float: left;
	width: 33.333%;
}
.m_single_specialist{
	padding: 0 15px;
	img.thumb{
		float: left;
		width: 35%;
		padding-right: 15px;
		padding-bottom: 15px;
	}
	.specialist_info{
		float: left;
		width: 65%;
		padding-bottom: 10px;
		h3 {
			font-weight: 300;
			font-size: 22px;
			padding-bottom: 10px;
			border-bottom: 1px solid $main_color;
			a{
				color: $main_color;
			}
		}
		.just_blue_rectangle{
			margin-top: -1px;
			width: 30px;
			height: 3px;
			background-color: #6BCDFC;
		}
		p {	
			padding-top: 10px;
			font-size: 18px;
			color: $main_color;
		}
	}
}
/*********************rangeStart****************************************************************
*/
input[type=range].spec_control {
  -webkit-appearance: none;
  width: 100%;
  margin: 9px 0;
}
input[type=range].spec_control:focus {
  outline: none;
}
input[type=range].spec_control::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #000000;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range].spec_control::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px 1px #222331, 0px 0px 0.9px #2c2e40;
  border: 1.8px solid #00001e;
  height: 20px;
  width: 20px;
  border-radius: 15px;
  background: #2b2a30;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9.2px;
}
input[type=range].spec_control:focus::-webkit-slider-runnable-track {
  background: #0d0d0d;
}
input[type=range].spec_control::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #000000;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range].spec_control::-moz-range-thumb {
  box-shadow: 0.9px 0.9px 1px #222331, 0px 0px 0.9px #2c2e40;
  border: 1.8px solid #00001e;
  height: 20px;
  width: 20px;
  border-radius: 15px;
  background: #2b2a30;
  cursor: pointer;
}
input[type=range].spec_control::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].spec_control::-ms-fill-lower {
  background: #000000;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].spec_control::-ms-fill-upper {
  background: #000000;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].spec_control::-ms-thumb {
  box-shadow: 0.9px 0.9px 1px #222331, 0px 0px 0.9px #2c2e40;
  border: 1.8px solid #00001e;
  height: 20px;
  width: 20px;
  border-radius: 15px;
  background: #2b2a30;
  cursor: pointer;
  height: 2px;
}
input[type=range].spec_control:focus::-ms-fill-lower {
  background: #000000;
}
input[type=range].spec_control:focus::-ms-fill-upper {
  background: #0d0d0d;
}
input[type=range].spec_control {
  -webkit-appearance: none;
  width: 100%;
  margin: 9px 0;
}
input[type=range].spec_control:focus {
  outline: none;
}
input[type=range].spec_control::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #000000;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range].spec_control::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px 1px #222331, 0px 0px 0.9px #2c2e40;
  border: 1.8px solid #00001e;
  height: 20px;
  width: 20px;
  border-radius: 15px;
  background: #2b2a30;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9.2px;
}
input[type=range].spec_control:focus::-webkit-slider-runnable-track {
  background: #0d0d0d;
}
input[type=range].spec_control::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #000000;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range].spec_control::-moz-range-thumb {
  box-shadow: 0.9px 0.9px 1px #222331, 0px 0px 0.9px #2c2e40;
  border: 1.8px solid #00001e;
  height: 20px;
  width: 20px;
  border-radius: 15px;
  background: #2b2a30;
  cursor: pointer;
}
input[type=range].spec_control::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].spec_control::-ms-fill-lower {
  background: #000000;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].spec_control::-ms-fill-upper {
  background: #000000;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].spec_control::-ms-thumb {
  box-shadow: 0.9px 0.9px 1px #222331, 0px 0px 0.9px #2c2e40;
  border: 1.8px solid #00001e;
  height: 20px;
  width: 20px;
  border-radius: 15px;
  background: #2b2a30;
  cursor: pointer;
  height: 2px;
}
input[type=range].spec_control:focus::-ms-fill-lower {
  background: #000000;
}
input[type=range].spec_control:focus::-ms-fill-upper {
  background: #0d0d0d;
}
input[type=range].spec_control {
  -webkit-appearance: none;
  width: 100%;
  margin: 9px 0;
}
input[type=range].spec_control:focus {
  outline: none;
}
input[type=range].spec_control::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #000000;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range].spec_control::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px 1px #222331, 0px 0px 0.9px #2c2e40;
  border: 1.8px solid #00001e;
  height: 20px;
  width: 20px;
  border-radius: 15px;
  background: #2b2a30;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9.2px;
}
input[type=range].spec_control:focus::-webkit-slider-runnable-track {
  background: #0d0d0d;
}
input[type=range].spec_control::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #000000;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range].spec_control::-moz-range-thumb {
  box-shadow: 0.9px 0.9px 1px #222331, 0px 0px 0.9px #2c2e40;
  border: 1.8px solid #00001e;
  height: 20px;
  width: 20px;
  border-radius: 15px;
  background: #2b2a30;
  cursor: pointer;
}
input[type=range].spec_control::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].spec_control::-ms-fill-lower {
  background: #000000;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].spec_control::-ms-fill-upper {
  background: #000000;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].spec_control::-ms-thumb {
  box-shadow: 0.9px 0.9px 1px #222331, 0px 0px 0.9px #2c2e40;
  border: 1.8px solid #00001e;
  height: 20px;
  width: 20px;
  border-radius: 15px;
  background: #2b2a30;
  cursor: pointer;
  height: 2px;
}
input[type=range].spec_control:focus::-ms-fill-lower {
  background: #000000;
}
input[type=range].spec_control:focus::-ms-fill-upper {
  background: #0d0d0d;
}
/*********************rangeEng******************************************************************
*/
.m_questions_wrap {
	background-color: #959595;
	.m_questions_header{
		padding: 25px 4.5% 0px;
		font-size: 40px;
		font-weight: 300;
		color: $main_color;
	}
	.m_questions_col-1 ol{
			border-right: 1px solid #fff;
		}
	.m_questions_col {
		@extend .m_article_left;
		padding-top: 0px;
		padding-bottom: 0px;
		li {
			font-size: 20px;
			color: $main_color;
			padding: 15px 0;
			a {
				color: $main_color;
			}
		}
	}
	.clearfix {
		@include clearfix;	
	}
	.all_question_holder{
		.all_question{
			position: relative;
			left:50%;
				transform:translateX(-50%);
			font-size: 22px;
			padding: 15px;
			background-color: transparent;
			font-weight: bold;
			border: 2px solid $main_color;
			cursor: pointer;
			&:hover{
				background-color: $nav_allotment;
				font-weight: bold;
			}
		}
	}
}
.go_top_holder{
	background-color: #959595;
	padding-bottom: 35px;
	.go_top{
		float: right;
		color: $main_color;
		cursor: pointer;
		&:hover{
			font-weight: bold;
		}
	}
}
/**********************************************************************************
* footer
*/
footer{

	>div{
		
	}
}

//popup close button 
.mfp-close{
	color: $text;
}