/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .reviews-page{
        .reviews-categories{
            width: 200px;
        }
        .reviews-page-content{
            width: 79.3%;
            margin-left: 15px;
        }
    }
//    footer
    .footer-top{
        li{        
            a{
                font-size: 14px;
            }   
        }
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    main{
        .reviews-page{
            .reviews-page-content{
                .patients-reviews{
                    .patients-reviews-list{
                        margin-top: 50px;
                        &__item{
                            margin-bottom: 40px;
                            .patients-reviews-photo{
                                width: 80px;
                                height: 80px;
                            }
                            .patients-reviews-text{
                                .patients-reviews-question{
                                    padding: 13px 20px 36px 20px;
                                    .patients-reviews-question__author{
                                        font-size: 16px;
                                        padding-right: 100px;
                                    }
                                    .patients-reviews-question__text{
                                        font-size: 14px;
                                    }
                                    .patients-reviews-question__date{
                                        font-size: 12px;
                                    }
                                }
                                .patients-reviews-answer{
                                    padding: 13px 20px 13px 20px;
                                    .patients-reviews-answer__author{
                                        font-size: 16px;
                                        padding-right: 100px;
                                    }
                                    .patients-reviews-answer__text{
                                        font-size: 14px;
                                    }
                                    .patients-reviews-answer__date{
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                    .patients-reviews-pagination{
                        display: -webkit-flex;
                        display: -moz-flex;
                        display: -ms-flex;
                        display: -o-flex;
                        display: flex;
                        align-items: center;
                        margin-top: 52px;
                        li{
                            margin-right: 10px;
                            a{
                                @include df;
                                width: 40px;
                                height: 40px;
                                background-color: white;
                                border: 1px solid #50bdf3;
                                color: black;
                                font-family: 'OpenSans';
                                font-size: 24px;
                                font-weight: 300;
                                line-height: 30px;
                                @include transition(all .5s ease);
                                &:hover{
                                    border: 4px solid #50bdf3;
                                }
                            }
                        }
                        .active{
                            a{
                                width: 42px;
                                height: 42px;
                                background-color: #55d4cb;
                                border: 1px solid #50bdf3;
                                box-shadow: inset 0 -60px 0 rgba(80, 189, 243, 0.8);
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }

    //    footer
    .footer-top{
        li{        
            a{
                font-size: 12px;
            }   
        }
    }
    // header
    nav .wrap_nav ul li a {
        font-size: 12px;
    }
    nav .wrap_nav {
        position: relative;
        padding-top: 11px;
        padding-bottom: 11px;
    }
    nav .wrap_nav ul li:not(:last-child) a {
        padding: 11px 10px 11px 10px;
    }
    nav .wrap_nav ul li:last-child a {
        padding: 11px 0 11px 10px;
    }
    nav .wrap_nav .to-home {
        top: 11px;
    }
    header .m_header_wrap .layer .m_navigation_wrap .m_navigation .left_menu{
        li:nth-last-child(1){
            display: none;
        }
        li:nth-last-child(2){
            padding: 0;
        }
    }
    header .m_header_wrap .m_menu-parrent .m_nav .m_menu-wrap{
        .m_stock_prices{
            float: none;
            width: 100%;
            padding-left: 10%;
            clear: both;
        }
        .m_main_stock{
            float: none;
            position: absolute;
            top: 140px;
            right: 4%;
            width: 33%;
            text-align: center;
        }
        .m_serv_about{
            width: 66%;
            float: none;
            clear: both;
        }
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    //	Humburger
    .navigation {
        nav {
            div {
                .toggle-nav {
                    display: block;
                    width: 30px;
                    height: 27px;
                    //position: relative;
                    -webkit-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    transform: rotate(0deg);
                    -webkit-transition: .5s ease-in-out;
                    -moz-transition: .5s ease-in-out;
                    -o-transition: .5s ease-in-out;
                    transition: .5s ease-in-out;
                    cursor: pointer;
                    position: absolute;
                    top: -42px;
                    left: 0px;
                    span {
                        display: block;
                        position: absolute;
                        height: 5px;
                        width: 30px;
                        background: #000;
                        opacity: 1;
                        left: 0;
                        -webkit-transform: rotate(0deg);
                        -moz-transform: rotate(0deg);
                        -o-transform: rotate(0deg);
                        transform: rotate(0deg);
                        -webkit-transition: .25s ease-in-out;
                        -moz-transition: .25s ease-in-out;
                        -o-transition: .25s ease-in-out;
                        transition: .25s ease-in-out;
                    }
                    span:nth-of-type(1) {
                        top: 0px;
                    }
                    span:nth-of-type(2),
                    span:nth-of-type(3) {
                        top: 11px;
                    }
                    span:nth-of-type(4) {
                        top: 22px;
                    }
                }
                .toggle-nav.js-active {
                    //span:nth-of-type(1) {
                    //    top: 18px;
                    //    width: 0%;
                    //    left: 50%;
                    //}
                    //span:nth-of-type(2) {
                    //    -webkit-transform: rotate(45deg);
                    //    -moz-transform: rotate(45deg);
                    //    -o-transform: rotate(45deg);
                    //    transform: rotate(45deg);
                    //}
                    //span:nth-of-type(3) {
                    //    -webkit-transform: rotate(-45deg);
                    //    -moz-transform: rotate(-45deg);
                    //    -o-transform: rotate(-45deg);
                    //    transform: rotate(-45deg);
                    //}
                    //span:nth-of-type(4) {
                    //    top: 18px;
                    //    width: 0%;
                    //    left: 50%;
                    //}
                }
                //show
                ul {
                    visibility: visible;
                    @include opacity(1);
                    height: auto;

                }
                //hide
                ul.js-active {
                    visibility: hidden;
                    @include opacity(0);
                    height: 0;
                    display: none;
                }
            }
        }
    }
    .reviews-page .reviews-page-content {
        width: 100%!important;
    }
    //mainPageHeader
    header .m_header_wrap .layer .m_navigation_wrap .m_navigation {
        background-color: #00070C;
        padding: 0;
        position: relative;
        ul.left_menu li.white-logo{
            display: block;
            position: absolute;
            padding: 0;
            margin: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        .small_triangle_wrap, ul.left_menu li, .contacts li{
            display: none;
        }
        ul.left_menu li.m_menu-toggle{
            display: block;
            float: left;
            padding: 20px 0px 10px 10px;
        }
        .contacts {
            background-color: transparent;
            padding: 0;
            margin: 0;
        }
        .contacts li.cont{
            display: block;
            float: right;
            margin-right: 10px;
            margin-top: 20px;
            font-size: 12px;
            padding: 7px;
            color: #fff;
            background-color: #50BDF3;
            &:before{
                content: url('../img/phone-m.png');
            }
            a {
                padding-left: 4px;
            }

        }

        }
        header .m_header_wrap .m_menu-parrent .m_nav{
            top: -63px;
            h3{
                font-size: 18px;
                font-weight: 300;
                padding: 10px 5px 10px 0;
            }
        }
        header .m_header_wrap .layer .m_navigation_wrap .m_slider.owl-carousel{
            .owl-dots{
                bottom:10px;
                right: 0;
                transform:translateX(50%);
                &.active{
                    background-color: #50BDF3;
                }
            }
        }

        header .m_header_wrap .layer {
            margin-top: 63px;
            min-height: 0;
            background-size:cover;
            background-repeat: no-repeat;
            .m_navigation_wrap{
                .m_navigation{
                    top:-63px;
                }
                .m_slider {
                background-color: transparent;
                padding-top:0px;
                h2, p, button, span.blue{
                    color: #000;
                }
                button {
                    border: 2px solid black;
                    padding: 20px;
                }

                }
                .triangle_wrap {
                    display: none;
                }
            }
        }   

    .wrap_nav ul li.active a:before {
        content: '';
        height: 4px;
        background: #50bdf3;
        position: absolute;
        bottom: -15px;
        width: 50%;
        left: 25%;
        z-index: 1;
    }
nav .wrap_nav > ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 0 20px 30px;
    float: none;
    clear: both;
}
    .wrap_nav ul li.active a:before{
        content: '';
        height: auto;
        background:  none;
        position: absolute;
        width: auto;
        z-index: 1;
    }
    .wrap_nav ul li.active a{
        color: #4fbef4;
    }
    nav .wrap_nav>ul>li>a {
        font-size: 16px!important;
        display: block;
        padding: 10px!important;
    }
    nav .wrap_nav ul li:not(:last-child) a {

    }
    .slide-m{
        margin-left: 9px;
        display: none;
    }
    .slide-m li a{
        padding: 5px 0px 5px 0px!important;
        font-size: 14px!important;
    }
    .slide-m.active{
        display: block;
    }

    .wrap_nav >ul>li.arrow:first-child>a:before{
        content: '^';
        position: relative;
        top: 0;
        left: -5px;
        font-size: 14px;
        color: #fff;
    }
    .wrap_nav >ul>li:first-child>a:before{
        content: '>';
        position: relative;
        top: 0;
        left: -5px;
        font-size: 14px;
        color: #fff;
    }
    .wrap_nav >ul>li:first-child>a{
        padding-left: 2px!important;
    }
    .wrap_nav >ul>li:nth-child(2)>a{
        padding-left: 2px!important;
    }
    .wrap_nav >ul>li:nth-child(2)>a:before{
        content: '>';
        position: relative;
        top: 0;
        left: -5px;
        font-size: 14px;
        color: #fff;
    }
    .wrap_nav >ul>li.arrow:nth-child(2)>a:before{
        content: '^';
        position: relative;
        top: 0;
        left: -5px;
        font-size: 14px;
        color: #fff;
    }
    li ul li a{
        text-transform: none!important;
        padding: 5px;
        font-size: 14px!important;
        display: block;
    }
    .wrap-for-fixed{
        position: fixed;
        z-index: 9;
        width: 100%;
    }
    main{
        .reviews-page{
            .wrapper{
                flex-direction: column;
            }
            .reviews-categories{
                width: 100%;
                padding-top: 15px;
                padding-bottom: 10px;
                margin-bottom: 20px;
                &__title{
                    padding-bottom: 10px;
                }
                &-list{
                    flex-direction: row;
                    margin-top: 20px;
                    flex-wrap: wrap;
                    li{
                        margin: 0 5px 10px 5px;
                        a{
                            font-size: 16px;
                            line-height: 16px;
                        }
                    }
                }
            }
            .reviews-page-content{
                width: 100%;
                margin-left: 0;
            }
        }
        .m_single_specialist{
            .thumb {
                float: none;
                width: 100%;
                padding-right: 0px;
                padding-bottom: 15px;
            }
                .specialist_info{
                float: none;
                width: 100%;
                text-align: center;
            }
        }
    }

    .wrap-main {
        padding-top: 61px;
    }

    nav .wrap_nav ul li {
        display: block;
    }
    //popup review
    .give-review-popup-content{
        position: relative;
        width: 90%;
        padding: 26px 15px 20px 15px;
    }
    //thnx popup
    .tnhx-popup-content{
        width: 90%;
        p{
            font-size: 40px;
            line-height: 50px;
        }
    }
nav .wrap_nav {
    padding-top: 0;
    padding-bottom: 0;
}
.wrap_header .slogan {
    visibility: hidden;
}
nav:before {
    content: '';
    height: 0px;
    background: none;
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0;
    z-index: 1;
}
nav .wrap_nav .to-home {
    display: none;
}
.wrap_header .wrap_min-top-menu a {
    display: none;
}
.logo img{
    width: 133px;
    height: 50px;
}
.header-btn-contacts{
    display: block;
}
.wrap_header .wrap_min-top-menu {
    padding-top: 20px;
    padding-bottom: 13px;
}
.wrap_header .wrap_min-top-menu .header-btn-contacts {
    display: block;
}
.prev{
    display: block;
}
// main
main{
    //margin-top: 4px;
    .main {
        .m_article_left{
            float: none;
            width: 100%;
            padding: 40px 4%;
            h2{
                font-size: 30px;
            }
        }
        .m_article_right{
            padding-top: 0;
            .gutter {
                    padding:0;
                }
        }
        .m_questions_wrap {
            .m_questions_header{
                padding-bottom: 20px;
            }
            .m_questions_col-1 ol{
                border-right:0px;
            }
            .m_questions_col{
                float: none;
                width: 100%;
                padding: 0px 10px;
                ol {
                    margin: 0;
                }
            }
            .all_question_holder{
                padding-top: 15px;
            }
        }
    }
}
//    footer
    footer{
        &:before{
            top: 79px;
        }
    }
    .footer-top{        
        flex-wrap: wrap;
        min-height: 80px;
        li{          
            text-align: center;
            width: 25%;
        }
    }    
    .footer-bottom{
        &-copyright{
            p:first-of-type{                
                line-height: 16px;                
                font-size: 14px;                
                margin-bottom: 10px;                
            }
            p:last-of-type{
                line-height: 16px;
            }
        }
        &-contacts{            
            margin-left: 5px;
            margin-right: 5px;            
            .footer-bottom-phones-list{                
                margin-bottom: 5px;                
                .main-phone{
                    a{                        
                        font-size: 18px;                        
                        line-height: 20px;                        
                    }
                }
                .more-phones{
                    a{
                        font-size: 14px;                        
                        line-height: 16px;                        
                        margin-top: 5px;                        
                        margin-bottom: 2px;                        
                    }
                }
            }
            .footer-bottom-address{
                font-size: 14px;                
                line-height: 16px;                
            }
        }
        &-social{
            .site-creation{
                margin-top: 20px;
            }
        }
    }

}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    //    base
    .wrapper{
        padding-left: 10px;
        padding-right: 10px;
    }
    header .m_header_wrap .layer .m_navigation_wrap .m_navigation {
            ul.left_menu li.white-logo{
                padding-top: 5px;
                width: 130px;
                left: 70px;
                transform: translateX(0);
            }
        }
    header .m_header_wrap .m_menu-parrent .m_nav .m_menu-wrap{
        .m_serv_about{
            width: 100%;
        }
        .m_stock_prices{
            padding-left: 0;
        }
        .m_main_stock{
            position: static;
            width: 100%;
        }
    }
    header .m_header_wrap .layer {
        .m_navigation_wrap{
            .m_slider {
                h2 {
                    font-size: 20px;
                }
                p{
                    display: none;
                }
                button {
                    border: 1px solid black;
                    padding: 15px;
                }
            }
        }
    }

    main{
        .m_slogan{
            h1{
                font-size: 50px;
            }
        }
        .reviews-page{
            padding-top: 13px;
            padding-bottom: 80px;
            .reviews-categories{
                display: none;
            }
            .reviews-page-content{
                .reviews-page__title{
                    font-size: 30px;
                    line-height: 30px;
                    margin-top: 37px;
                }
                .reviews-page-info{
                    margin-top: 23px;
                    p{
                        font-size: 14px;
                        line-height: 18px;
                        height: 110px;
                        overflow: hidden;
                        @include transition(all .5s ease);
                    }
                    .reviews-page-info__mobile-expand{
                        display: -webkit-flex;
                        display: -moz-flex;
                        display: -ms-flex;
                        display: -o-flex;
                        display: flex;
                        margin-top: 6px;
                        @include opacity(1);
                        visibility: visible;
                        @include transition(all .5s ease);
                    }
                    &.js-active{
                        p{
                            height: auto;
                        }
                        .reviews-page-info__mobile-expand{
                            @include opacity(0);
                            visibility: hidden;
                        }
                    }
                }
                .leave-review{
                    width: 168px;
                    height: 40px;
                    margin: 26px auto 0 auto;
                    font-size: 16px;
                }
                .patients-reviews{
                    margin-top: 19px;
                    .patients-reviews__title{
                        font-size: 25px;
                        line-height: 28px;
                    }
                    .patients-reviews-list{
                        margin-top: 0;
                        &__item{
                            margin-bottom: 22px;
                            .patients-reviews-photo{
                                display: none;
                            }
                            .patients-reviews-text{
                                margin-top: 22px;
                                width: 100%;
                                margin-left: 0px;
                                .patients-reviews-question{
                                    height: auto;
                                    padding: 14px 19px 13px 19px;
                                    text-align: left;
                                    .patients-reviews-question__author{
                                        color: black;
                                        font-size: 14px;
                                        line-height: 18px;
                                        padding-right: 0;
                                    }
                                    .patients-reviews-question__text{
                                        color: black;
                                        font-size: 14px;
                                        line-height: 18px;
                                        font-weight: 300;
                                        margin-top: 10px;
                                        height: 75px;
                                    }
                                    .patients-reviews-question__date{
                                        position: relative;
                                        display: inline-block;
                                        right: auto;
                                        top: 0;
                                        color: #777;
                                        font-size: 14px;
                                        line-height: 18px;
                                        font-weight: 300;
                                    }
                                }
                                .patients-reviews-answer{
                                    height: auto;
                                    padding: 14px 19px 13px 19px;
                                    text-align: left;
                                    .patients-reviews-answer__author{
                                        color: black;
                                        font-size: 14px;
                                        line-height: 18px;
                                        padding-right: 0;
                                    }
                                    .patients-reviews-answer__text{
                                        color: black;
                                        font-size: 14px;
                                        line-height: 18px;
                                        font-weight: 300;
                                        margin-top: 10px;
                                        height: 75px;
                                    }
                                    .patients-reviews-answer__date{
                                        position: relative;
                                        display: inline-block;
                                        right: auto;
                                        top: 0;
                                        color: #777;
                                        font-size: 14px;
                                        line-height: 18px;
                                        font-weight: 300;
                                    }
                                }
                                &:before{
                                    display: none;
                                }
                            }
                        }
                    }
                    .patients-reviews-pagination{
                        justify-content: center;
                    }
                }
            }
            .leave-review-floating{
                &.is-visible{
                    display: none;
                }
            }
        }
        .breadcrumbs{
            ul{
                display: none;
            }
            .breadcrumbs__mobile-back{
                display: block;
            }
        }
    }




    //
    .reviews-page-content .leave-impl2 {
        width: 201px;
        height: 46px;
        background-color: #50bdf3;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 18px;
        font-weight: 700;
        line-height: 43px;
        display: block;
        margin: 0 auto;
    }
    .description_for-btn {
        color: #202020;
        font-family: OpenSans;
        font-size: 16px;
        line-height: 18px;
        font-weight: 400;
        text-align: center;
        width: 65%;
        margin:0 auto;
        margin-top: 17px;
    }
    .wrap_when-work {
        margin-top: 23px;
    }
    .wrap_when-work .wrap_work-text .work-text {
        width: 100%;
    }
    .wrap_when-work .wrap_work-text .work-text:last-child {
         margin-left: 0%;
    }
    .wrap_impl-articles .impl-article h2 {
        color: #000;
        font-family: OpenSans;
        font-size: 25px;
        font-weight: 300;
        line-height: 28px;
        padding-top: 36px;
    }
    .wrap_impl-articles {
        .impl-article {
            .wrap_data-imp-article {
                margin-top: 16px;

                p {
                    width: 100%;
                    color: #202020;
                    font-family: OpenSans;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 18px;
                    margin-bottom: 15px;
                }
                img{
                    width: 100%;
                }
            }
        }
    }
    .wrap_impl-articles {
        .impl-article2 {
            h2{
                color: #000;
                font-family: OpenSans;
                font-size: 25px;
                font-weight: 300;
                line-height: 28px;
                padding-top: 36px;
            }
            .wrap_data-imp-article {
                margin-top: 16px;

                p {
                    width: 100%;
                    color: #202020;
                    font-family: OpenSans;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 18px;
                    margin-bottom: 15px;
                }
                img{
                    width: 100%;
                }
            }
        }
    }
    .wrap_impl-articles {
        margin-bottom: 30px;
        margin-top: 0;
    }
    .wrap_when-work .wrap_work-text .work-text ul li {
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .wrap_implantation-process h2 {
        color: #000;
        font-family: OpenSans;
        font-size: 25px;
        font-weight: 300;
        line-height: 28px;
    }
    .wrap_implantation-process {
        margin-top: 30px;
    }
    .wrap_implantation-process .block-process:first-child {
        margin-right: 0;
    }
    .wrap_implantation-process .block-process {
        width: 100%;
        margin-top: 14px;
    }
    .wrap_implantation-process .block-process ul li {
        color: #202020;
        font-family: OpenSans;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        margin-top: 3px;
        padding-bottom: 3px;
        position: relative;
        padding-left: 20px;
    }
    .wrap_implantation-process .block-process:last-child {
         margin-left: 0%;
        margin-top: 0;
    }
    .wrap_serteficats {
        margin-top: 45px;
    }
    .wrap_serteficats h2 {
        font-size: 20px;
        line-height: 24px;
    }
    .wrap_our-work {
        margin-top: 34px;
    }
    .wrap_our-work h2 {
        font-size: 25px;
        font-weight: 300;
        line-height: 28px;
    }
    .wrap_our-work p {
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        margin-top: 20px;
    }
    .wrap_our-work h3 {
        font-size: 20px;
        font-weight: 300;
        line-height: 24px;
    }
    .wrap_our-work p {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        margin-top: 0px;
    }
    .content div {
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        font-weight: 400;
        margin-top: 5px;
    }
    .content {
         padding-top: 0px;
    }
    .slider-nav-thumbnails img{
        max-width: 100px;
        max-height: 100px;
    }
    .wrap_interview {
        padding-top: 35px;
    }
    .wrap_interview h2 {
        font-size: 25px;
        font-weight: 300;
        line-height: 28px;
    }
    .wrap_interview .desc-video {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        margin-top: 10px;
    }
    .wrap_interview .wrap_text-for-video{
        padding: 0;
        padding-bottom: 27px;
    }
    .wrap_interview .wrap_text-for-video p {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        margin-top: 10px;
    }


        //    footer
    footer{
        overflow: hidden;
        min-height: 0;
        &:before{
            display: none;
        }
    }
    .footer-top{
        padding: 10px 0 5px 0;
        min-height: 90px;
        position: relative;
        &:before{
            @include pseudo;
            bottom: 0;
            left: -30px;
            right: 0;
            margin: 0 auto;
            width: 520px;
            height: 1px;
            background-color: #2bb7da;
        }        
        li{            
            margin-bottom: 5px;
            width: auto;
        }
    }      
    .footer-bottom{
        padding-top: 15px;        
        padding-bottom: 15px;        
        flex-direction: column;        
        &-copyright{            
            width: 100%;            
            text-align: center;            
            margin-bottom: 15px;            
            p:first-of-type{                    
                margin-bottom: 5px;                 
                max-width: none;                
            }
        }        
        &-contacts{            
            margin: 0 0 15px 0;
            width: 100%;
            .footer-bottom-phones-list{                
                margin-bottom: 10px;     
                width: 100%;                
                text-align: center; 
                .more-phones{                    
                    justify-content: center;                    
                    a{                      
                        margin-top: 10px;                        
                        margin-bottom: 0px;                        
                    }
                }
            }
            .footer-bottom-address{
                text-align: center;             
            }
        }
        &-social{
            .footer-bottom-social-list{
                justify-content: center;
                li{
                    margin: 0 5px 0 5px;
                }
            }
            .site-creation{
                margin-top: 20px;
            }
        }
    }

    //popup
    .give-review-popup-content{
        >p{
            font-size: 16px;
            line-height: 20px;
        }
        .give-review-popup__form-field{
            flex-direction: column;
            margin-bottom: 15px;
            label{
                font-size: 14px;
                line-height: 16px;
                margin-bottom: 10px;
            }
            input{
                width: 100%;
                font-size: 14px;
                line-height: 16px;
            }
            textarea{
                width: 100%;
                max-width: 100%;
                font-size: 14px;
                line-height: 16px;
            }
        }
        .give-review-popup__captcha-field{
            flex-direction: column;
            align-items: center;
            label{
                font-size: 14px;
                line-height: 16px;
                margin-bottom: 10px;
            }
            input{
                width: 100px;
                font-size: 14px;
                line-height: 16px;
                margin-bottom: 10px;
            }
            .review-captcha{
                margin-left: 0px;
            }
        }
        .give-review-popup__send{
            font-size: 14px;
            line-height: 16px;
        }
    }
    //thnx popup
    .tnhx-popup-content{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p{
            font-size: 24px;
            line-height: 23px;
        }
    }

    //to top button
    #to-top{
        font-size: 0;
        bottom: 29px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
//mainPageHeader
    header .m_header_wrap .layer .m_navigation_wrap .m_navigation {
        ul.left_menu li.white-logo{
            padding-top: 5px;
            width: 130px;
            left: 62px;
            transform: translateX(0);
        }
    }
    header .m_header_wrap .m_menu-parrent .m_nav .m_menu-wrap{
        .m_serv_about{
            padding-left: 10%;
            ul{
                float: none;
                width: 100%;
                clear: both;
                li{
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }

        .m_stock_prices{
            padding-left: 10%;
            .m_stock_q{
                float: none;
                width: 100%;
                clear: both;
            }
            .m_q{
                display: none;
            }
        }
        .m_main_stock{
            display: none;
        }
    }
    header .m_header_wrap .m_menu-parrent .m_nav{
        min-height: 50px;
    }
    header .m_header_wrap .layer {
        .m_navigation_wrap{
            .m_slider {
                width: 60%;
                margin-top: -30px;
                h2 {
                    padding: 0;
                }
                button {
                    padding: 5px;
                }
            }
        }
    }
    header .m_header_wrap{
        .header_bottom_nav{
            display: none;
        }
    }
// main
    main {
        .m_questions_wrap, .m_slogan, .m_specialist_wrap, .go_top span, .m_article_left p, .m_article_right{
            display: none;
        }
        .main {
            .m_mobile_content{
                display: block;
                margin-bottom: 70px;
            }
            .m_article_left{
                padding:0 3px;
                    p{
                       &.you_will_see_me_always, &.m_reed_more {
                        display: block;
                    }
                }
            }
        }
        .go_top_holder{
            background-color: #EDEDED;
        }

    }
//    footer
    footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        overflow: visible;
        z-index: 5;
    }
    .footer-top,
    .footer-bottom{
        display: none;
    }
    .footer-mobile{
        display: block;
        ul{
            width: 100%;
            min-height: 70px;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            li{
                margin-top: 10px;
                margin-bottom: 10px;
            }
            .footer-mobile-services{
                @include df;
                width: 75px;
                height: 27px;
                border: 2px solid #e6e6e8;
                a{
                    @include df;
                    color: #e6e6e8;
                    font-family: 'OpenSans';
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 22px;
                    text-transform: uppercase;
                    img{
                        margin: 0;
                        padding-right: 6px;
                    }
                }  
            }  
            .footer-mobile-price{
                @include df;
                width: 80px;
                height: 27px;
                background-color: #50bdf3;
                border: 2px solid #50bdf3;
                a{
                    @include df;
                    color: white;
                    font-family: 'OpenSans';
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 22px;
                    text-transform: uppercase;
                    img{
                        margin: 0;
                        padding-right: 6px;
                    }
                }                
            } 
            .footer-mobile-call{
                @include df;
                width: 110px;
                height: 27px;
                border: 2px solid #e6e6e8;
                position: relative;
                >a{
                    @include df;
                    color: #e6e6e8;
                    font-family: 'OpenSans';
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 22px;
                    text-transform: uppercase;
                    img{
                        margin: 0;
                        padding-right: 6px;
                    } 
                }         
//                show tooltip
                &:hover{
                    .phones-tooltip{
                        @include opacity(1);
                        visibility: visible;
                    }
                }
            }             
        }
    }

    //to top button
    #to-top{
        font-size: 0;
        bottom: 135px;
    }
}

//for footer tooltip
@media only screen and (max-width : 300px) {
    main{
        .reviews-page{
            padding-bottom: 120px;
        }
    }
    .footer-mobile{
        ul{
            .footer-mobile-call{     
                .phones-tooltip{
                    left: 0;
                    right: auto;
                }
            }             
        }
    }
    //to top button
    #to-top{
        font-size: 0;
        bottom: 100px;
    }
}